{% extends 'base.html' %}

{% block title %}
{{ category.name_of_category }}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Товары</h1>
    <!-- <form method="post">
        <input type="text" name="category-url" id="category-url" class="form-control"><br>
        <input type="submit" class="btn btn-success" value="Отправить"><br>
    </form> -->
    <!-- <h1 class="mt-10">Доступные категории</h1> -->
    <table class="table table-striped mt-6">
        <thead>
            <tr>
                <th scope="col">#</th>
                {% for th in table_head %}
                    <th scope="col">{{ th }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for el in data_list %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                {% for d in el %}
                    <td>{{ d }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}