{% extends 'base.html' %}

{% block title %}
{{ category.name_of_category }}
{% endblock %}

{% block body %}

<div class="container mt-5">
    <form method="post">
        {% for el in char %}
        <div class="form-check">
            <input class="form-check-input" name="check" type="checkbox" value="{{ loop.index0 }}" id="id_{{ loop.index0 }}">
            <label class="form-check-label" for="id_{{ loop.index0 }}">
                {{ el }}
            </label>
        </div>
        {% endfor %}
        <!-- <input type="text" name="category-url" id="category-url" class="form-control"><br> -->
        <input type="submit" class="btn btn-success" value="Отправить"><br>
    </form>
</div>

{% endblock %}