{% extends 'base.html' %}

{% block title %}
Категории
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Добавление категории</h1>
    <form method="post">
        <input type="text" name="category-url" id="category-url" class="form-control"><br>
        <input type="submit" class="btn btn-success" value="Отправить"><br>
    </form>
    <h1 class="mt-10">Доступные категории</h1>
    <table class="table table-striped mt-6">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Категория</th>
                <th scope="col">Дата последнего обновление</th>
            </tr>
        </thead>
        <tbody>
            {% for el in categorys %}
            <tr>
                <th scope="row">{{ el.id }}</th>
                <td><a href="/select-displayed-characteristics/{{ el.id }}">{{ el.name_of_category }}</a></td>
                <td>{{ el.data_last_pars }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}